{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset -Incognito
{% endblock  %}
{% block csslink %}<link rel="stylesheet" href=" {% static 'style.css' %} ">

{% endblock  %}
    {% block body %}
    <div class='container-full_image' >
    <div id="wrapper">
      <div id="left">
        <div id="signin">
         <h1 class="showcase-text" style="padding-left:44px">
              Forgot your password?
            </h1>
          <form method='post'>
          {% csrf_token %}
            {{form.as_p}}
            
            <button style="margin-left:68px"type="submit" class="secondary-btn">Reset Password</button>
          </form>
          <div>
            
          </div>
          <div class="or">
            <hr class="bar">
            <span>OR</span>
            <hr class="bar">
          </div>
          <a href="/accounts/signup/" class="secondary-btn">Create an account</a>
        </div>
      </div>
      <div id="right">
        <div id="showcase">
          <div class="showcase-content">
            <h1 class="showcase-text">
              Let's create the future <strong>together</strong>
            </h1>
            <br>
            <a href="/courses" class="secondary-btn">Learn Ethical Hacking</a>
          </div>
        </div>
      </div>
    </div>
    </div>



    
 {% endblock  %}














 